.movie-cast-container {
    width: 100%;
    display: grid;
    grid-template-columns: 60px auto auto;
    font-size: 16px;
    color: #C0B3A0;
  }

  .movie-cast-container > p {
    padding: 5px;
    line-height: 45px;
    height: 90px;
    max-height: 90px;
    vertical-align: middle;
  }
  
  .cast-pictures {
    max-width: 60px;
  }

  .first-cast-color {
    background-color: #4E354F;
  }
  
  .second-cast-color {
    background-color: #2D314F;
  }

  @media screen and (min-width: 375px) {
    .movie-cast-container {
      font-size: 18px;
    }
  }