.youtube-video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
  .youtube-trailer-container {
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }

  .single-movie-results {
    background-color: #2D314F;
  }

  .single-movie-heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #2D314F;
      color: #C0B3A0;
  }

  .single-movie-budglength {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #2D314F;
      color: #C0B3A0;
  }

  .single-movie-description {
      margin: 10px;
  }

  .single-movie-header-item {
    background-color: rgb(163, 163, 163);
    color: #C0B3A0;
  }

  .active {
    display: block;
  }
  .inactive {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    .movie-poster {
        max-width: 300px;
    }
  }