.login-account-info {
    background-color: rgb(161, 161, 161);
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .login-account-form {
    background-color: rgb(110, 110, 110);
    height: 100vh;
    min-height: 100vh;
  }

  .MuiInputLabel-root {
    min-width: 100%;
    text-align: center;
  }