.search-form-container {
    width: 100%;
    padding-top: 10px;
    position: relative;
    top: 0px;
    --webkit-box-shadow: 0px -23px 24px 0px rgba(0, 0, 0, 0.75);
    --moz-box-shadow: 0px -23px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -23px 24px 0px rgba(0, 0, 0, 0.75);
    background-color: #3F3250;
    z-index: 2;
    padding-bottom: 5px;
  }

.results {
    color: #C0B3A0;
}

.result-rating-container {
    position: relative;
    content: content;
}

.result-rating-container:hover { 
    cursor: pointer;
}

.result-rating-container:hover .result-rating {
    background-color: rgba(0, 0, 0, 0.5);
}

.result-rating-container:hover .result-inner-rating {
    background-color:rgba(225, 70, 88, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

.result-rating{
    color: white;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.0);
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.result-inner-rating {
    background-color:rgba(225, 70, 88, 0.0);
    line-height: 45px;
    vertical-align: middle;
    height: 45px;
    width: 65px;
    position: absolute;
    bottom: 45%;
    border-radius: 5px;
    color:rgba(255, 255, 255, 0.0);
}

.multi-movie-result-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    padding-bottom: 10px;
}
.multi-movie-result-item > h3 {
    text-align: center;
    max-width: 300px!important;
}

.result-poster {
    max-width: 300px!important;
}

.search-results-container {
    display: grid;
    justify-content: space-around;
    padding-top: 10px;
}

.logo-image {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.load-more-button {
    position: absolute;
    left: calc(50% - 62.5px);
    bottom: -50px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .search-results-container {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (min-width: 1000px) {
    .search-results-container {
        grid-template-columns: repeat(3, 33%);
    }
}

@media screen and (min-width: 1400px) {
    .search-results-container {
        grid-template-columns: repeat(4, 25%);
    }
}

@media screen and (min-width: 1680px) {
    .search-results-container {
        grid-template-columns: repeat(5, 17%);
    }
}

@media screen and (min-width: 1900px) {
    .search-results-container {
        grid-template-columns: repeat(6, 12%);
    }
}

